.search-form {
  background-color: #4169e1;
  text-align: center;
}

input {
  margin: 20px auto;
}

input,
button {
  height: 30px;
  border-radius: 5px;
  border-color: transparent;
}

.load-more {
  display: block;
  margin: 10px auto 0;
  background-color: #4169e1;
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.is-hidden {
  display: none;
}

.photo-card {
  max-width: 640px;
  margin: 0 auto;
}
